

<!doctype html>
<html>
  <head>
    <title>MetroShare</title>
      <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="/normalize.css">
<!--       <link rel="stylesheet" type="text/css" href="style.css"> -->
      <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body style="text-align: center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>WELCOME TO METRO SHARE</h1>
        </div>
      </div>
      <img src="/MetroSharlogo.png">
      <div class="row">
      </div>
        <form action="/log_in" method="POST">
        <font><b>Username: </b></font><input type="text" name="user">
        <b>Password: </b><input type="password" name="password">     <form action="/metrosharers" method="POST">
        <b>Message: </b><input type="text" name="message">
        <b>Time: </b><input type="date" name="time">
        <b>Location:</b>
        <select name="location"><option name="Pelham Bay Park" selected>Pelham Bay Park</option> 
        <option value="Buhre Ave">Buhre Ave</option>
        <option value="Middletown Rd">Middletown Rd</option>
        <option value="Westchester Square-E Tremont Ave">Westchester Square-E Tremont Ave</option>
        <option value="Zerega Ave">Zerega Ave</option>
        <option value="Castle Hill Ave">Castle Hill Ave</option>
        <option value="Parkchester">Parkchester</option>
        <option value="Saint Lawrence Ave">Saint Lawrence Ave</option>
        <option value="Morrison Ave.-Soundview">Morrison Ave.-Soundview</option>
        <option value="Elder Ave">Elder Ave</option>
        <option value="Whitlock Ave">Whitlock Ave</option>
        <option value="Hunts Point Ave">Hunts Point Ave</option>
        <option value="Longwood Ave">Longwood Ave</option>
        <option value="E 149 St">E 149 St</option>
        <option value="E 143 St.-Saint Mary's St">E 143 St.-Saint Mary's St</option>
        <option value="Cypress Ave">Cypress Ave</option>
        <option value="Brook Ave">Brook Ave</option>
        <option value="3 Ave.-138 St">3 Ave.-138 St</option>
        <option value="125 St">125 St</option>
        <option value="116 St">116 St</option>
        <option value="110 St">110 St</option>
        <option value="103 St">103 St</option>
        <option value="96 St">96 St</option>
        <option value="86 St">86 St</option>
        <option value="77 St">77 St</option>
        <option value="68 St.-Hunter College">68 St.-Hunter College</option>
        <option value="59 St">59 St</option>
        <option value="51 St">51 St</option>
        <option value="Grand Central-42 St">Grand Central-42 St</option>
        <option value="33 St">33 St</option>
        <option value="28 St">28 St</option>
        <option value="23 St">23 St</option>
        <option value="4 St.-Union Square">14 St.-Union Square</option>
        <option value="Astor Place">Astor Place</option>
        <option value="Bleecker St.-Broadway-Lafayette St">Bleecker St.-Broadway-Lafayette St</option>
        <option value="Spring St">Spring St</option>
        <option value="Canal St">Canal St</option>
        <option value="Brooklyn Bridge-City Hall">Brooklyn Bridge-City Hall</option>
    </select>
        <input style="margin-left: 195px;" type="submit">
        <input type="submit">
      </form>
        <img style="padding-bottom: 20px" src="http://cdn.theatlantic.com/static/mt/assets/food/ninaboesch2edit.jpg">

    </div>
  </body>
</html>