

<!doctype html>
<html>
  <head>
    <title>MetroShare</title>
      <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="/normalize.css">
<!--       <link rel="stylesheet" type="text/css" href="style.css"> -->
      <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body style="text-align: center">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>WELCOME TO METRO SHARE</h1>
        </div>
      </div>
      <img src="/MetroSharlogo.png">
      <div class="row">
      </div>
        <form action="/log_in" method="POST">
        <font><b>Username: </b></font><input type="text" name="user">
        <b>Password: </b><input type="password" name="password">
        <input type="submit">
      </form>
        <img style="padding-bottom: 20px" src="http://cdn.theatlantic.com/static/mt/assets/food/ninaboesch2edit.jpg">

    </div>
  </body>
</html>