

<!doctype html>
<html>
  <head>
    <title>MetroShare</title>
      <link href='http://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="/bootstrap-theme.min.css">
      <link rel="stylesheet" type="text/css" href="/normalize.css">
<!--       <link rel="stylesheet" type="text/css" href="style.css"> -->
      <link rel="stylesheet" type="text/css" href="main.css">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        </div>
      </div>
      <img src="/MetroSharlogo.png" style="margin-left: 400px;">
      <div class="row">
        <h3>In NYC, one in three poor New Yorkers can't afford public transit. At MetroShare, we strive to create a lasting solution to poverty through the exchange of metrocards. We intend to do this by creating a platform that will allow our users to share a monthly, unlimited metrocard.</h3>
      </div>
<!--  -->

      <div class="row">
      <% @messages.each do |message| %>
      <h1 style="background-color: #D1E0E0; border-radius: 10px; margin-left: 115px; margin-right: 300px padding-top: 20px;"><font style="font-size: 50px"><%= message.message %></font><br>
      <font><b>Name:</b><%= message.user%></font>
      <font><b>Time:</b><%= message.time%></font>
      <font><b>Location:</b><%= message.location%></font></h1>
    <% end %>
    </div>
  </body>
</html>